# Silver to Gold:
- Borrar columnes perquè al df estigui tot com volem per generar els tiquets.
- Agregacions per fer analitica de productes, no es del nostre projecte però es faría en aquesta capa.

#### mirar el document ingest_data_documentacio.ipynb

In [1]:
import os
import pandas as pd

In [2]:
directori_execucio = os.getcwd()
ruta_carpeta_silver = os.path.join(directori_execucio, '2-Silver')
productes = [item for item in os.listdir(ruta_carpeta_silver) if os.path.isfile(os.path.join(ruta_carpeta_silver, item))]
ruta_csv_productes = os.path.join(ruta_carpeta_silver, productes[0])
df = pd.read_csv(ruta_csv_productes)
df.head()

,id,limit,packaging,thumbnail,display_name,bunch_selector,categoria_1,categoria_1_name,categoria_2,categoria_2_name,...,size_format,total_units,unit_selector,bunch_selector.1,drained_weight,price_decreased,reference_price,min_bunch_amount,reference_format,increment_bunch_amount
0,3318.0,1000,Safata,https://prod-mercadona.imgix.net/20190521/18/3...,Raïm negre sense llavors,False,1,Fruita i verdura,27,Fruita,...,kg,NaN,True,False,NaN,False,4.79,1.0,kg,1.0
1,3320.0,1000,Granel,https://prod-mercadona.imgix.net/20190521/20/3...,Raïm negre amb llavors,True,1,Fruita i verdura,27,Fruita,...,kg,NaN,False,True,NaN,False,3.49,0.5,kg,0.5
2,3752.0,1000,Terrina,https://prod-mercadona.imgix.net/20190521/52/3...,Salsa de mango,False,1,Fruita i verdura,27,Fruita,...,kg,NaN,True,False,NaN,False,7.95,1.0,kg,1.0
3,5508.0,1000,Safata,https://prod-mercadona.imgix.net/20190521/08/5...,Gerds,False,1,Fruita i verdura,27,Fruita,...,kg,NaN,True,False,NaN,False,13.47,1.0,kg,1.0
4,3832.0,1000,Safata,https://prod-mercadona.imgix.net/20190521/32/3...,Kiwi verd,False,1,Fruita i verdura,27,Fruita,...,kg,NaN,True,False,NaN,False,2.69,1.0,kg,1.0

In [3]:
df = df[['display_name', 'categoria_1_name', 'categoria_3_name', 'bulk_price', 'unit_price', 'total_units', 'size_format', 'packaging', 'ingested_day', 'iva', 'is_pack']]
df.head()

,display_name,categoria_1_name,categoria_3_name,bulk_price,unit_price,total_units,size_format,packaging,ingested_day,iva,is_pack
0,Raïm negre sense llavors,Fruita i verdura,Fruita,4.79,2.63,NaN,kg,Safata,16-04-2024,4,False
1,Raïm negre amb llavors,Fruita i verdura,Fruita,3.49,345.51,NaN,kg,Granel,16-04-2024,4,False
2,Salsa de mango,Fruita i verdura,Fruita,7.95,1.59,NaN,kg,Terrina,16-04-2024,4,False
3,Gerds,Fruita i verdura,Fruita,13.47,2.29,NaN,kg,Safata,16-04-2024,4,False
4,Kiwi verd,Fruita i verdura,Fruita,2.69,2.69,NaN,kg,Safata,16-04-2024,4,True

In [4]:
# Veiem com hi ha noms molt llargs, per tant els reduirem.
max(df['display_name'], key=len)

'Iogurt ensucrat YogoMix Hacendado variat de flocs blat de moro, boletes i disquets de xocolata'

In [5]:
# Fem un nom curt per no ocupar gran part del tiquet:
def short_name(cell_value, n=18):
    words = len(cell_value.split())
    chars = len(cell_value)

    if words <= 1 or chars <= n:
        return cell_value

    words = cell_value[0:n].split(' ')[0:-1] # La última fora perque pot quedar la paraula tallada
    return ' '.join([word for word in words if len(word) > 2])

df['display_name'] = df['display_name'].apply(short_name)
df.head()

,display_name,categoria_1_name,categoria_3_name,bulk_price,unit_price,total_units,size_format,packaging,ingested_day,iva,is_pack
0,Raïm negre sense,Fruita i verdura,Fruita,4.79,2.63,NaN,kg,Safata,16-04-2024,4,False
1,Raïm negre amb,Fruita i verdura,Fruita,3.49,345.51,NaN,kg,Granel,16-04-2024,4,False
2,Salsa de mango,Fruita i verdura,Fruita,7.95,1.59,NaN,kg,Terrina,16-04-2024,4,False
3,Gerds,Fruita i verdura,Fruita,13.47,2.29,NaN,kg,Safata,16-04-2024,4,False
4,Kiwi verd,Fruita i verdura,Fruita,2.69,2.69,NaN,kg,Safata,16-04-2024,4,True

In [6]:
df['display_name'] = df['display_name'].str.upper()
df.head()

,display_name,categoria_1_name,categoria_3_name,bulk_price,unit_price,total_units,size_format,packaging,ingested_day,iva,is_pack
0,RAÏM NEGRE SENSE,Fruita i verdura,Fruita,4.79,2.63,NaN,kg,Safata,16-04-2024,4,False
1,RAÏM NEGRE AMB,Fruita i verdura,Fruita,3.49,345.51,NaN,kg,Granel,16-04-2024,4,False
2,SALSA DE MANGO,Fruita i verdura,Fruita,7.95,1.59,NaN,kg,Terrina,16-04-2024,4,False
3,GERDS,Fruita i verdura,Fruita,13.47,2.29,NaN,kg,Safata,16-04-2024,4,False
4,KIWI VERD,Fruita i verdura,Fruita,2.69,2.69,NaN,kg,Safata,16-04-2024,4,True

In [7]:
df[df['display_name'].str.contains('GORGONZOLA')]['display_name'].values

array(['GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA',
       'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA',
       'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA',
       'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA',
       'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA',
       'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA',
       'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA',
       'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA',
       'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA',
       'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA',
       'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA', 'GORGONZOLA',
       'GORGONZOLA'], dtype=object)

In [8]:
df.packaging.unique()

array(['Safata', 'Granel', 'Terrina', 'Bossa', 'Got', 'Peça', '1/2 Peça',
       nan, 'Pot', 'Malla', 'Paquet', 'Bol', 'Manat', 'Paquet-2', 'Capsa',
       'Paquet-3', 'Llauna', 'Bric', 'Ampolla', 'Paquet-6', 'Paquet-4',
       'Paquet-8', 'Paquet-9', 'Paquet-12', 'Paquet-10', 'Paquet-16',
       'Rajola', 'Paquet-5', 'Garrafa', 'Esprai', 'Sobre', 'Tub',
       'Galleda', 'Pastilla', 'Potet', 'Flascó', 'Sac', 'barra',
       'Ampolleta', 'Paquet-24', 'Barril', 'Benjamí'], dtype=object)

In [9]:
df[df['packaging'] == 'Bossa']

,display_name,categoria_1_name,categoria_3_name,bulk_price,unit_price,total_units,size_format,packaging,ingested_day,iva,is_pack
7,POMA ROHO,Fruita i verdura,Fruita,1.29,1.94,NaN,kg,Bossa,16-04-2024,4,False
16,POMA GOLDEN,Fruita i verdura,Fruita,1.29,1.94,NaN,kg,Bossa,16-04-2024,4,False
17,POMA FUJI,Fruita i verdura,Fruita,1.39,2.08,NaN,kg,Bossa,16-04-2024,4,False
208,POMA ROHO,Fruita i verdura,Fruita,1.29,1.94,NaN,kg,Bossa,16-04-2024,4,False
217,POMA GOLDEN,Fruita i verdura,Fruita,1.29,1.94,NaN,kg,Bossa,16-04-2024,4,False
...,...,...,...,...,...,...,...,...,...,...,...
215793,CORNETS FARCITS,Forn i pastisseria,Brioixeria de forn,4.55,1.25,NaN,kg,Bossa,17-04-2024,10,False
215802,MAGDALENES AMB,Forn i pastisseria,Brioixeria de forn,4.08,1.55,NaN,kg,Bossa,17-04-2024,10,False
215812,ARTESANETS,Forn i pastisseria,Brioixeria de forn,7.40,1.48,8.0,kg,Bossa,17-04-2024,10,False
215833,BOSSA PASTISSERIA,Forn i pastisseria,Brioixeria de forn,0.40,0.40,NaN,ud,Bossa,17-04-2024,21,False
216149,BOSSA PASTISSERIA,Forn i pastisseria,Pastissos,0.40,0.40,NaN,ud,Bossa,17-04-2024,21,False

In [10]:
# Calcular preus totals:

def calculate_price(row):
    if row['size_format'] == 'kg':
        # Verificar que category sea solo una palabra y que units sea NaN
        if ((row['categoria_3_name'] in ['Fruita i verdura', 'Verdura']) and (len(row['display_name'].split()) <= 2)):
            return pd.Series({'price': row['bulk_price'], 'size_format': 'kg'})
        else:
            return pd.Series({'price': row['unit_price'], 'size_format': 'ud'})

    elif row['size_format'] == 'ud':
        if not pd.isna(row['total_units']):
            return pd.Series({'price': row['unit_price'] * row['total_units'], 'size_format': 'ud'})
        else:
            return pd.Series({'price': row['unit_price'], 'size_format': 'ud'})

    else:
        return pd.Series({'price': row['unit_price'], 'size_format': 'ud'})

df[['price', 'size_format']] = df.apply(calculate_price, axis=1)

df.head()

,display_name,categoria_1_name,categoria_3_name,bulk_price,unit_price,total_units,size_format,packaging,ingested_day,iva,is_pack,price
0,RAÏM NEGRE SENSE,Fruita i verdura,Fruita,4.79,2.63,NaN,ud,Safata,16-04-2024,4,False,2.63
1,RAÏM NEGRE AMB,Fruita i verdura,Fruita,3.49,345.51,NaN,ud,Granel,16-04-2024,4,False,345.51
2,SALSA DE MANGO,Fruita i verdura,Fruita,7.95,1.59,NaN,ud,Terrina,16-04-2024,4,False,1.59
3,GERDS,Fruita i verdura,Fruita,13.47,2.29,NaN,ud,Safata,16-04-2024,4,False,2.29
4,KIWI VERD,Fruita i verdura,Fruita,2.69,2.69,NaN,ud,Safata,16-04-2024,4,True,2.69

In [11]:
max(df['display_name'], key=len)

'AMANIDA CALIFÒRNIA'

In [12]:
df.categoria_1_name.unique()

array(['Fruita i verdura', 'Pizzes i plats preparats', 'Marisc i peix',
       'Postres i iogurts', 'Forn i pastisseria',
       'Oli, espècies i salses', 'Conserves, brous i cremes',
       'Xarcuteria i formatges', 'Neteja i llar', 'Ous, llet i mantega',
       'Cacau, cafè i infusions', 'Aperitius', 'Nadó',
       'Arròs, llegums i pasta', 'Maquillatge', 'Carn', 'Congelats',
       'Mascotes', 'Sucs', 'Fitoteràpia i parafarmàcia',
       'Cura dels cabells', 'Cereals i galetes', 'Cura facial i corporal',
       'Celler', 'Sucre, caramels i xocolata', 'Aigua i refrescos'],
      dtype=object)

In [13]:
df.categoria_3_name.unique().size

150

In [14]:
df.size_format.unique()

array(['ud', 'kg'], dtype=object)

In [15]:
df['categoria_1_name'].value_counts()

categoria_1_name
Cura facial i corporal        50940
Neteja i llar                 44520
Forn i pastisseria            19035
Celler                        18135
Congelats                     15840
Xarcuteria i formatges        15345
Carn                          10845
Postres i iogurts              9270
Cura dels cabells              8675
Maquillatge                    8475
Conserves, brous i cremes      7380
Marisc i peix                  7020
Aigua i refrescos              6780
Sucre, caramels i xocolata     5525
Nadó                           4300
Cacau, cafè i infusions        4150
Oli, espècies i salses         4020
Fruita i verdura               3015
Aperitius                      2835
Ous, llet i mantega            2640
Pizzes i plats preparats       2580
Cereals i galetes              2340
Arròs, llegums i pasta         1905
Mascotes                       1830
Sucs                           1580
Fitoteràpia i parafarmàcia     1030
Name: count, dtype: int64

In [16]:
df.rename(columns={
    'display_name': 'name',
    'size_format': 'format',
    'categoria_3_name': 'subcategory',
    'categoria_1_name': 'category'
    
}, inplace=True)

df = df[['name', 'category', 'subcategory', 'price', 'iva', 'format', 'ingested_day']]

df.head()

,name,category,subcategory,price,iva,format,ingested_day
0,RAÏM NEGRE SENSE,Fruita i verdura,Fruita,2.63,4,ud,16-04-2024
1,RAÏM NEGRE AMB,Fruita i verdura,Fruita,345.51,4,ud,16-04-2024
2,SALSA DE MANGO,Fruita i verdura,Fruita,1.59,4,ud,16-04-2024
3,GERDS,Fruita i verdura,Fruita,2.29,4,ud,16-04-2024
4,KIWI VERD,Fruita i verdura,Fruita,2.69,4,ud,16-04-2024

In [17]:
# Guardar el dataset tractat a la capa gold:
ruta_carpeta_gold = os.path.join(directori_execucio, '3-Gold')
ruta_csv_gold = os.path.join(ruta_carpeta_gold, 'productes_mercadona.csv')
df.to_csv(ruta_csv_gold, index=False)

In [18]:
df

,name,category,subcategory,price,iva,format,ingested_day
0,RAÏM NEGRE SENSE,Fruita i verdura,Fruita,2.63,4,ud,16-04-2024
1,RAÏM NEGRE AMB,Fruita i verdura,Fruita,345.51,4,ud,16-04-2024
2,SALSA DE MANGO,Fruita i verdura,Fruita,1.59,4,ud,16-04-2024
3,GERDS,Fruita i verdura,Fruita,2.29,4,ud,16-04-2024
4,KIWI VERD,Fruita i verdura,Fruita,2.69,4,ud,16-04-2024
...,...,...,...,...,...,...,...
260005,REFRESC,Aigua i refrescos,Refresc de te i sense gas,3.92,10,ud,17-04-2024
260006,REFRESC,Aigua i refrescos,Refresc de te i sense gas,0.55,10,ud,17-04-2024
260007,REFRESC,Aigua i refrescos,Refresc de te i sense gas,3.92,10,ud,17-04-2024
260008,REFRESC,Aigua i refrescos,Refresc de te i sense gas,0.55,10,ud,17-04-2024
260009,REFRESC AMB,Aigua i refrescos,Refresc de te i sense gas,1.15,10,ud,17-04-2024